*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures
.externalNativeBuild/
.cxx/
Android/local.properties
Android/.gradle/
Android/build/
Android/app/build/
Android/app/.cxx/
Android/app/release.jks
*.apk
*.aab
*.keystore
*.jks
CSMoE-Full/
*.obb
3rdparty/boost_1_77_0/
*.orig
